<table>
    |<tr>
        <th>Mercado</th>
        <th>Precio Maximo</th>
        <th>Moneda</th>
    </tr>
    <% @file.each do |v| %>
    |<tr>
        <td><%=v[0]%></td>
        <td><%=v[1]%></td>
        <td><%=v[2]%></td>
 
     </tr>
    <%end%>
</table>